language: generic
sudo: false

git:
  submodules: false  # whether to recursively clone submodules

cache:
  directories:
    - $HOME/.cabal
    - $HOME/.mafia

matrix:
  include:
    - compiler: "ghc-8.0.2"
      addons: {apt: {packages: [ghc-ppa-tools,cabal-install-1.24,ghc-8.0.2], sources: [hvr-ghc]}}
    - compiler: "ghc-8.2.2"
      addons: {apt: {packages: [ghc-ppa-tools,cabal-install-1.24,ghc-8.2.2], sources: [hvr-ghc]}}
    - compiler: "ghc-8.4.4"
      addons: {apt: {packages: [ghc-ppa-tools,cabal-install-2.0,ghc-8.4.4], sources: [hvr-ghc]}}

before_install:
 - unset CC
 - PATH=/opt/ghc/bin:/opt/ghc-ppa-tools/bin:$PATH

install:
 - travis_retry cabal update -v
 - bin/travis_install

script:
 - bin/travis_script

deploy:
  skip_cleanup: true
  provider: hackage
  username: $HACKAGE_USERNAME
  password: $HACKAGE_PASSWORD
  on:
    repo: tmcgilchrist/entwine
    tags: true
